[user]
	name = Sing
	email = sing@paddingleft.com
[core]
	pager = delta
	excludesfile = ~/.gitignore
[delta]
	navigate = true
	line-numbers = true
[interactive]
	diffFilter = delta --color-only
[diff]
	algorithm = patience
[pull]
	rebase = true
[rebase]
	autostash = true
[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig-work
